body {
    background-color: #171717;
}
h1 {
    background-color: #570b03;
    color: #f2c462;
}
h2 {
    color: #a38d6d;
    text-align: center;
}
hr {
    color: #4d3422;
}
table {
    border-collapse: collapse;
    width: 33%;
    margin-left: 33%;
    margin-right: 33%;
}
table, th, td {
    border: 3px solid #4d3422;
    margin-left: 33%;
    margin-right: 33%;
}
th, tr, p {
    color: #a38d6d;
}