body {
    background-color: #171717;
}
h1 {
    color: #f2c462;
}
h2 {
    color: #a38d6d;
    text-align: center;
}
hr {
    color: #4d3422;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #171717;
}
li {
    float: left;
}
li a {
  display: block;
  color: #f2c462;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover:not(.active) {
    background-color: black;
}
li a.active {
    background-color: #570b03;
}
table {
    border-collapse: collapse;
    width: 33%;
    margin-left: 33%;
    margin-right: 33%;
}
table, th, td {
    border: 3px solid #4d3422;
    margin-left: 33%;
    margin-right: 33%;
}
th, tr {
    color: #a38d6d;
    text-align: center;
}
p {
    color: #a38d6d;
}