body {
    background-color: #171717;
}
h1 {
    color: #f2c462;
    text-align: center;
}
h2 {
    color: #a38d6d;
    text-align: center;
}
hr {
    color: #4d3422;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #171717;
}
li {
    float: left;
}
li a {
  display: block;
  color: #f2c462;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover:not(.active) {
    background-color: black;
}
li a.active {
    background-color: #570b03;
}
input {
    width: 100%;
    font-size: 16px;
    padding: 16px 32px;
}
input[type=text] {
    background-color: #4d3422;
    border: none;
    color: #a38d6d;
    margin: 4px 0;
    box-sizing: border-box;
}
input[type=button], input[type=submit], input[type=reset] {
    background-color: #570b03;
    border: none;
    color: #f2c462;
    text-decoration: none;
    margin: 4px 0;
    cursor: pointer;
    box-sizing: border-box;
}
table {
    border-collapse: collapse;
    width: 33%;
    margin-left: 33%;
    margin-right: 33%;
}
table, th, td {
    border: 3px solid #4d3422;
    margin-left: 33%;
    margin-right: 33%;
}
th, tr {
    color: #a38d6d;
    text-align: center;
}
p {
    color: #a38d6d;
    margin: 0;
}
span {
    background: #f2c462;
    padding: 10px;
    border-radius: 0;
    color: #171717;
    position: relative;
    display: inline-block;
    box-shadow: 1px 1px 1px #171717;
    margin-top: 10px;
}
span:before{
    content: '';
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #f2c462;
    position: absolute;
    top: -10px;
}