<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PoE Leveling Helper</title>
    <meta name="description" content="Path of Exile Leveling Helper">
    <meta name="keywords" content="path of exile pathofexile poe leveling helper guide gem gems finder">
    <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='style.css') }}>
</head>
<body>
    <ul>
        <li>
            <a class="active" href="/">PoE Leveling Helper</a>
        </li>
        <li>
            <a href="/">About</a>
        </li>
    </ul>
    <hr>
    {%  block content %}{% endblock %}
</body>
</html>