{%  extends "base.html" %}

{%  block content %}
<h1>Find out which skill gems in your build are available for your and the other classes.</h1>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.import_code.label }}
        <br>
        {{ form.import_code(placeholder=form.import_code.description) }}
        <br>
        {% for error in form.import_code.errors %}
            <span>{{ error }}</span>
        {% endfor %}
    </p>
    <p>
        {{ form.submit() }}
    </p>
</form>
{%  endblock content %}